.Imagen {

   width: 100vw;
   height: 90vh;

    background-image: url(../../assets/1.jpg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;

    font-size: xx-large;
    color:cornflowerblue

    
}