.CenteredForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;

    padding: 0 0 0 0;
}

.CenteredForm2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    padding: 0 0 0 0;
}

.carouselImage {
    /* width: 80vw; */
    height: 85vh;

}

.AppointmentsCards {

    margin-bottom: 70px;    
}

.navBarForm {
    width: 100vw;
}