.CenteredForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;

    padding: 0 0 0 0;
}

.Carousel {

    /* display: flex;  */
    /* align-items: center; */
    /* justify-content: center; */
    height: auto;
    width: auto;

    /* padding: 0 0 0 0; */
}